/* .container {
	display: flex;
} */

.historyImage {
	display: none;
}

.historyContent {
	text-align: center;
	padding: 20px;
	background-color: #333333;
	color: #fffff9;
}

.historyContent h1 {
	margin-bottom: 10px;
}

.historyContent h1 .colored {
	color: #f7c08a;
}

.button {
	color: #333333;
	background: #fffff9;
	width: fit-content;
	margin-top: 20px;
	/* margin: 20px auto; */
	padding: 20px;
}
