.historyImage {
	display: none;
}

.historyContent {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 20px;
	background-color: #333333;
	color: #fffff9;
}

.historyContent h1 {
	margin-bottom: 10px;
}

.historyContent h1 .colored {
	color: #f7c08a;
}

.details {
	padding: 10px;
}

.button {
	color: #333333;
	background: #fffff9;
	margin: 20px auto;
	padding: 20px;
}

@media screen and (min-width: 600px) {
	.container {
		display: flex;
	}

	.historyContent {
		max-width: 50%;
	}

	.historyImage {
		display: block;
		max-width: 50%;
		max-height: 500px;
	}

	.historyImage img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
